html {
  box-sizing: border-box;
  background: #00B4DB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'roboto';
}
*,* ::after, *::before {
  box-sizing: inherit;
  margin:0;
}
:root {
 --mdc-theme-primary: #4527a0;
 --mdc-theme-secondary: #b2dfdb;
}
.container {
  margin: 0 auto;
  background: #00B4DB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}
.container h1 {
  text-align: center;
  background: #00B4DB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* color: #fff; */
  margin-top:0;
  padding:30px;
}
.temp-container {
  display: flex;
  justify-content: center;
  background: #00B4DB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* color: #fff; */
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  overflow: hidden;
  padding: 30px 0;
  height: 500px;
}
.user {
  padding: 10px;
}
.text {
  padding: 10px;
  border-radius: 10px;
  background:white;
}
.message {
  display: flex;
  justify-content: space-between;
  margin:10px 0;
}
.login {
  width: 400px;
  margin: 100px auto;
}

.pad {
  padding: 20px;
}

.loginIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loginIcon div{
  background-color: #00B4DB;
}
.loginIcon svg{
  color: white;
}

.login .loginButton {
  margin-top: 20px;
}

.or {
  margin: 20px 0;
  font-size: 18px;
  text-align: center;
  font-family: "Roboto";
}

.message {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.content {
  width: 800px;
  height: 100%; 
  overflow: auto;
}

/* loader */
.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #fff;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}


/* Create Page */
.createUser {
  background: #00B4DB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* color: #fff; */
  margin-top:0;
}
.createForm {
  width: 700px;

}
.createLine1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
/* .createName, .createCat, .createDesc, .createReason, .createAmount {
  width: 50%;
} */
#createName, #createDesc, #createReason {
  width: 300px;
}
#createAmount {
  width: 300px;
}
#createCat {
  width: 300px;
}