html {
  box-sizing: border-box;
  font-family: 'Roboto'
}
*,* ::after, *::before {
  box-sizing: inherit;
  margin:0;
}

/* begin styles for login and registration */
.justify {
  margin: 0 auto;
  display:flex;
  flex-flow: row wrap;
  justify-content: space-between;
  box-shadow:none!important;
}
.login {
  padding: 60px 120px;
      margin: 0 auto;
  display: inline;
    justify-content: center;
}
.login form {
      width: 450px;
}
.reg {
  padding: 110px 120px 0px 120px;
      margin: 0 auto;
  display: inline;
    justify-content: center;
}
.reg form {
      width: 450px;
}
/* Small screens - MOBILE */
@media only screen and (max-width: 40em) {
  html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.total_amount, .remaining_amount {
    padding: 10px!important;
}
.login {
    padding: 0;
    margin: 0;
    display: inline;
    justify-content: center;
}
.justify {
    margin: 0px 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    box-shadow: none!important;
}
.login form {
    width: auto;
}

  .reg {
  padding: 0;
  display: inline;
  justify-content: center;
  margin: 22px 0;
}
.reg form {
    width: auto;
}
}
.text_left{
  text-align: left;
}
/* donation button */
.StripeCheckout {
    position: relative!important;
    font-size: 17px!important;
    line-height: 21px!important;
    /* height: 37px!important; */
    font-weight: 700!important;
    text-shadow: 0 -1px 0 rgba(0,0,0,.12)!important;
    color: #fff!important;
    cursor: pointer!important;
    transition: all .2s ease-in-out!important;
    border: 0px!important;
    padding: 1px!important;
    float:left;
    outline:none!important;
}
.StripeCheckout:hover {
  background-color:#333!important;
}
 /* min-width 1024px and max-width 1440px laptop*/
@media only screen and (min-width: 90em) { 
  .login {
  padding: 160px 60px;
  display: inline;
  justify-content: space-around;
}
  .reg {
  padding: 162px 60px;
  display: inline;
  justify-content: space-around;
}
.placeholder_login_img {
  width:700px;
  display: flex;
  justify-content: space-around;
  padding:20px;
  background-image:url("../assets/img/standing.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.placeholder_reg_img {
  width:700px;
  display: flex;
  justify-content: space-around;
  padding:20px;
  background-image:url("../assets/img/standing.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

}
.loginIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.or {
  margin: 10px 0;
  font-size: 18px;
  text-align: center;
  font-family: "Roboto";
  font-weight: lighter;
}
#login_logo {
  color:#222;
  font-style: italic;
  padding:30px;
}
#welc_msg {
  color:#555;
  font-weight: lighter;
  padding:40px 0;
}
#lock_color {
  background-color:#8e24aa;
}

/* Desktop xl */
@media only screen and (min-width: 90.063em) and (max-width: 120em) { 
.placeholder_login_img {
    width: 960px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    /* background: #A4C4B5; */
    background-image: url(/static/media/standing.b08234a2.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.login {
    padding: 213px 60px;
    display: inline;
    justify-content: space-around;
}
.placeholder_reg_img {
    width: 960px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    /* background: #A4C4B5; */
    background-image: url(/static/media/standing.b08234a2.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.reg {
    padding: 216px 60px;
    display: inline;
    justify-content: space-around;
}
} 
/* end login and registration */


.itemIMG {
    width: 70%;
    /* margin: 20px auto; */
    max-height: 250px;
    max-width: 1440px;
} 

.wrap_pricing {
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  
}

.total_amount,.remaining_amount {
  padding: 30px 20px;
}

/* donate form */
.donate_form {
  overflow: hidden;
}
.donor-list {
  height:300px;
}
.donor-list-dashboard {
  height:343px;
  overflow:scroll;
}

/* donation ui */
.title_name_image {
             box-shadow: none!important;
}
.img_card {
      box-shadow: none!important;
      border:1px solid #f3f3f3!important;
}
.NavPills-info-337{
      box-shadow: none!important;
}
.NavPills-info-338 {
     box-shadow: none!important;
}
.NavPills-info-519{
     box-shadow: none!important;
}
.NavPills-info-568 {
    box-shadow: none!important;
}
.NavPills-info-446 {
    box-shadow: none!important;

}
.CardBody-cardBody-323 {
    padding: 0.4375rem 0.315rem!important;
}

/* .NavPills-pillsWithIcons-330 {
    background: #fcfcfc;
} */

.Toastify__progress-bar--default {
    background: #46c1df;
}
.toast{
  background: #f7feff;
  color:#222;
}
/* chart  */
.chart_wrapper {
  width:100%;
  height:300px;
  padding-top:20px;
}

/* Create for select field */
.naSelect {
  border-bottom: 1px solid #d2d2d2 !important;
}

.naSelect::before {
  border-bottom: 0px solid #d2d2d2 !important;
}

.naSelect::after {
  border-bottom: 0px solid #d2d2d2 !important;
  /* #9c27b0 !important; */
}

.naSelect:hover{
  border-bottom: 1px solid #d2d2d2 !important;
}

