html {
  box-sizing: border-box;
  font-family: 'Roboto'
}
*,* ::after, *::before {
  box-sizing: inherit;
  margin:0;
}

/* begin styles for login and registration */
.login {
  width: 400px;
  margin: 100px auto;
}
.pad {
  padding: 20px;
}
.loginIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login .loginButton {
  margin-top: 20px;
}
.or {
  margin: 30px 0;
  font-size: 18px;
  text-align: center;
  font-family: "Roboto";
  font-weight: lighter;
}
/* end login and registration */


.itemIMG {
    width: 100%;
    margin: 20px auto;
    max-width: 1440px;
    /* transform: translate3d(0, -12%, 0); */
} 

.wrap_pricing {
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  
}

.total_amount,.remaining_amount {
  padding: 30px 85px;
}

/* donate form */
.donate_form {
  overflow: hidden;
}

/* Create for select field */
.naSelect {
  border-bottom: 0px solid #d2d2d2 !important;
}

.naSelect::before {
  border-bottom: 1px solid #d2d2d2 !important;
}

.naSelect::after {
  border-bottom: 2px solid #9c27b0 !important;
}

.naSelect:hover{
  border-bottom: 1px solid #d2d2d2 !important;
}

