html {
  box-sizing: border-box;
  font-family: 'Roboto'
}
*,* ::after, *::before {
  box-sizing: inherit;
  margin:0;
}

/* begin styles for login and registration */
.justify {
  margin: 0 auto 40px auto;
  display:flex;
  flex-flow: row wrap;
  justify-content: space-between;
  box-shadow:none!important;
}
.login {
  padding: 110px 120px 0px 120px;
      margin: 0 auto;
  display: inline;
    justify-content: center;
}
.login form {
      width: 450px;
}
.reg {
  padding: 110px 120px 0px 120px;
      margin: 0 auto;
  display: inline;
    justify-content: center;
}
.reg form {
      width: 450px;
}
 /* min-width 1024px and max-width 1440px laptop and desktop and bigger*/
@media only screen and (min-width: 90em) { 
  .login {
  padding: 120px 60px;
  display: inline;
  justify-content: space-around;
}
  .reg {
  padding: 142px 60px;
  display: inline;
  justify-content: space-around;
}
.placeholder_login_img {
  width:700px;
  display: flex;
  justify-content: space-around;
  padding:20px;
  background:#A4C4B5;
  background-image:url("../assets/img/standing.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.placeholder_reg_img {
  width:700px;
  display: flex;
  justify-content: space-around;
  padding:20px;
  background:#A4C4B5;
  background-image:url("../assets/img/standing.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

}
.loginIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.or {
  margin: 30px 0;
  font-size: 18px;
  text-align: center;
  font-family: "Roboto";
  font-weight: lighter;
}
#login_logo {
  color:#222;
  font-style: italic;
  padding:30px;
}
#welc_msg {
  color:#555;
  font-weight: lighter;
  padding:40px 0;
}
/* end login and registration */


.itemIMG {
    width: 100%;
    margin: 20px auto;
    max-width: 1440px;
    /* transform: translate3d(0, -12%, 0); */
} 

.wrap_pricing {
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  
}

.total_amount,.remaining_amount {
  padding: 30px 85px;
}

/* donate form */
.donate_form {
  overflow: hidden;
}
.donor-list {
  height:300px;
}
.donor-list-dashboard {
  height:300px;
  overflow:scroll;
}
.Toastify__progress-bar--default {
    background: -webkit-gradient(linear,left top, right top,from(#6dd5ed),color-stop(#6dd5ed),color-stop(#6dd5ed),color-stop(#3da8c2),color-stop(#3da8c2),to(#3da8c2));
    background: -webkit-linear-gradient(left,#6dd5ed,#6dd5ed,#6dd5ed,#3da8c2,#3da8c2,#3da8c2);
    background: linear-gradient(90deg,#6dd5ed,#6dd5ed,#6dd5ed,#3da8c2,#3da8c2,#3da8c2);
}

/* Create for select field */
.naSelect {
  border-bottom: 0px solid #d2d2d2 !important;
}

.naSelect::before {
  border-bottom: 1px solid #d2d2d2 !important;
}

.naSelect::after {
  border-bottom: 2px solid #9c27b0 !important;
}

.naSelect:hover{
  border-bottom: 1px solid #d2d2d2 !important;
}

